body{
    background-image: url(file:///Users/will/Dropbox/Mac/Desktop/donnieswurld/assets/img/bg6.png);
}

#tv{
    z-index: 0;
    width: 1100px;
    height: 650px;
    position:fixed;
    display: block;
    margin-left: 3%;
    margin-right: 5%;   
    border-radius: 8px; 
}

#photobg{
    background-color: black;
    position:fixed;
    display: block;
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 5%;  
    width: 730px;
    height: 530px;
    z-index: -5;
}

.photos{
    z-index: 100;
    width: 600px;
    position: fixed;
    display: block;
    margin-top: 12%;
    margin-left: 12%;
    margin-right: 10%;
}

.con1{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}


.nav{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    text-align: center;
}

button{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

#logo{
    width: 60%;
    top:0;
}

#saturn{
    width: 60%;
    padding-top: 20px;
}

#earth{
    width: 35%;
    padding-top: 20px;
}

#mars{
    width: 35%;
    padding-top: 20px;
}

#saturn:hover{
    width: 80%;
    transition: width .5s;
    /* height: 35%; */
}

#earth:hover{
    width: 45%;
    transition: width .5s;
}

#mars:hover{
    width:45%;
    transition: width .5s;
}

video{
    border-radius:20px;
}


