html{
    height: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con1{
    text-align: center;
    padding: 20px;
}

.con2{
    display: flex;
    flex-direction: row;  
    text-align: center;
    justify-content: space-evenly;
}

body{
    background-image: url(../assets/img/bg2copy.jpeg);
    background-size: cover;
    min-height: 100%;
    /* background-image: url(https://miro.medium.com/max/1280/1*wGCryr9k9y_rURpYLKGXJQ.gif); */
    /* background-image: url(https://i.gifer.com/IDIm.gif); */
}

#saturn{
    width: 20%;
}

#earth{
    width: 15%;
}

#mars{
    width: 13%;
}

#sun{
    width: 20%;
}

#logo{
    width: 40%;
}


ul{
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	align-items: center;
    /* justify-content: center; */
}

li{
	display: inline;
	padding:2%;
    /* transition: width 1s, height 1s; */
    /* align-items: center; */
}

#saturn:hover{
    transform: rotate(25deg);
    transition: transform .5s;
}

#earth:hover{
    transform: rotate(-25deg);
    transition: transform .5s;
}

#mars:hover{
    transform: rotate(50deg);
    transition: transform .5s;
}

#sun:hover{
    transform: rotate(25deg);
    transition: transform .5s;
}

    /* border-radius: 100%;
    position: absolute;
    box-shadow:
    0 0 90px 10px #fff; */
    /* width: 35%;
    transition: width 0.2s; */

@media only screen and (max-width: 600px) {
    body{
        background-size: cover;
        /* background-repeat: no-repeat;  */
        background-position: center;
    }

    /* ul li{
        float: left;
    } */

    .con2{
        flex-direction: row;
        width: 100%;
        height: 100%;
        z-index: 10000;
        position: sticky;
        display: block;
        left: 0px;
        top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #logo{
        width: 80%;
    }

    #saturn{
        width: 50%;
    }

    /* #saturn:hover{
        width: 65%;
    } */

    #earth{
        width: 40%;
    }

    /* #earth:hover{
        width: 55%;
    } */

    #mars{
        width: 30%;
    }
/* 
    #mars:hover{
        width: 45%;
    } */
    #sun{
        width: 40%;
    }
}